{
  "presets": [
    ["@babel/env", {
      "useBuiltIns": "entry",
      "modules": false
    }]
  ],
  "plugins": [
    "@babel/proposal-function-bind",
    "@babel/proposal-nullish-coalescing-operator",
    "@babel/proposal-optional-chaining",
    ["@babel/proposal-decorators", {"legacy": true}],
    ["@babel/proposal-class-properties", {"loose": true}],
    ["@babel/proposal-pipeline-operator", {"proposal": "minimal"}]
  ]
}
