<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <% for (var i = 0; i < htmlWebpackPlugin.options.dll.length; i++) { %>
  <script src="<%= htmlWebpackPlugin.options.dll[i] %>"></script>
  <% } %>
</head>
<body>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<h1 id="hello">Hello!~</h1>
</body>
</html>
