<!DOCTYPE html>
<html lang="<%=lang ||'en' %>">
<head>
  <meta charset="UTF-8">
  <title><%=title %></title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <% if (dll) { %><script src="vendor.dll.js"></script><% } %>
</head>
<body>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div id="app"></div>
<script src="main.js"></script>
</body>
</html>
